@use "../../scss/abstract/mixins" as *;

.header {
    margin-bottom: 1.5rem;
}

.data,
.title {
    margin-bottom: 1rem;
}

.section:not(:last-child) {
    margin-bottom: 2rem;
}

.property {
    margin-bottom: 0.25rem;
    font-weight: 700;

    &::after {
        content: ":";
    }
}

.property,
.value {
    text-transform: capitalize;
}

.null {
    opacity: 0.25;
}
