@use "../../scss/abstract/mixins" as *;

.info {
    @include flex($gap: 1rem);

    width: 1430px;
    margin: 1rem;
    padding: 1.25rem 2rem;

    background-color: var(--foreground);
    border-radius: 0.5rem;
    box-shadow: var(--shadow) 0 8px 24px;

    div {
        transform: scale(1) !important;
        border-radius: 0.25rem;
    }
}

.summary {
    @include flex($direction: row, $gap: 1rem);

    p {
        font-size: 1.1rem;
    }
}

.data {
    @include flex($gap: 0.5rem);

    font-style: italic;

    span {
        font-weight: 700;
        font-style: normal;
        text-transform: capitalize;
    }
}
