*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins, sans-serif;
}

body {
    color: var(--text);
    background: var(--background);
}

#root {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: var(--background);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--foreground);
}

::-webkit-scrollbar-thumb {
    background-color: #5a88e5;
    background-clip: content-box;
    border-radius: 0.5em;

    &:hover {
        background-color: #6493f2;
    }

    &:active {
        background-color: #4e7cd6;
    }
}
