:root {
    --color: #f9f9f9;
}

.check {
    display: none;
}

.checkbox {
    cursor: pointer;
    font-weight: 700;
    color: var(--text);
    text-transform: capitalize;

    &::before {
        content: "";

        display: inline-block;

        width: 12px;
        height: 12px;
        margin-right: 0.5rem;

        background-color: transparent;
        border: 2px solid var(--color);
        border-radius: 0.25rem;

        transition: var(--hover);
    }
}

input[type="checkbox"]:checked + .checkbox {
    &::before {
        background-color: var(--color);
    }
}
