.overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // background: hsl(0deg 0% 100%/5%);
    background: rgb(0 0 0 / 70%);
    backdrop-filter: blur(0.05rem);
}
