:root {
    --background: #22252d;
    --foreground: #292d36;
    --button: #22252d;
    --button-hover: #1c1f25;
    --button-active: #1e222a;
    --text: #f9f9f9;
    --dark-shadow: rgba(32 37 41 / 20%);
}
