@mixin flex($direction: column, $justify: flex-start, $align: flex-start, $gap: 0, $wrap: nowrap) {
    display: flex;
    flex-flow: $direction $wrap;
    gap: $gap;
    align-items: $align;
    justify-content: $justify;
}
